
# ---- Build Output ----
target/

# ---- IDE / Editor files ----
*.iml
*.classpath
*.project
*.settings/
.vscode/

# ---- Logs ----
*.log

# ---- Local Databases ----
Data.sql
*.db

# ---- OS-specific files ----
.DS_Store
Thumbs.db

